* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-image: url(../asset/image/paisaje-fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hiddenBody {
  display: none;
}

/* SPINNER DE CARGAR  */
.container-load {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000c5;
}

.cloud {
  width: 250px;
}

.front {
  padding-top: 45px;
  margin-left: 25px;
  display: inline;
  position: absolute;
  z-index: 11;
  animation: clouds 8s infinite;
  animation-timing-function: ease-in-out;
}

.back {
  margin-top: -30px;
  margin-left: 150px;
  z-index: 12;
  animation: clouds 12s infinite;
  animation-timing-function: ease-in-out;
}

.right-front {
  width: 45px;
  height: 45px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -25px;
  z-index: 5;
}

.left-front {
  width: 65px;
  height: 65px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.right-back {
  width: 50px;
  height: 50px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -20px;
  z-index: 5;
}

.left-back {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.sun {
  width: 120px;
  height: 120px;
  background: -webkit-linear-gradient(to right, #fcbb04, #fffc00);
  background: linear-gradient(to right, #fcbb04, #fffc00);
  border-radius: 60px;
  display: inline;
  position: absolute;
}

.sunshine {
  animation: sunshines 2s infinite;
}

@keyframes sunshines {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes clouds {
  0% {
    transform: translateX(15px);
  }

  50% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(15px);
  }
}

/* INICIO PAGINA  */
.content-page {
  min-height: 100vh;
  width: 100%;
  background-color: #000000a9;
  padding: 2rem;
}

.clima-and-hour {
  display: flex;
  justify-content: space-between;
}

/* COMIENZA CARD CLIMA  */
.section-clime {
  background-color: #000000a9;
  width: 30%;
  /* height: 50vh; */
  border-radius: 24px;
  padding: 1rem;
  color: #fff;
}

.container-clime {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cont-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 73%;
}

.buscar-ubi {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.buscar-ubi::placeholder {
  color: transparent;
}

.buscar-ubi:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.buscar-ubi:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #b9d9ee, #b0c5ca);
  border-image-slice: 1;
}

.buscar-ubi:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #b9d9ee;
  font-weight: 700;
}

/* reset input */
.buscar-ubi:required,
.buscar-ubi:invalid {
  box-shadow: none;
}

.button-ubi {
  padding: 0.8rem;
  border-radius: 27px;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 17px;
}
.button-ubi:hover {
  cursor: pointer;
  background-color: #b0c5ca;
  color: #000000;
}
.ubicacion {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.name-ubi {
  padding-left: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.content-info {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.cont-temp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70%;
  width: 100%;
}

.img-clima {
  height: 100px;
  width: 100px;
}
.title-estado-clima {
  font-size: 1.5rem;
}
.temp {
  font-size: 7rem;
  font-weight: 300;
}
.cont-min-max {
  height: 25%;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.date {
  font-size: 1.5rem;
}
.mas-detalles {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mini-detalles {
  width: 30%;
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
}
.title-detalles {
  font-weight: 500;
  display: inline-flex;
}

/* RELOJ  */
.hour-and-lofi {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 0 2rem; */
}
.section-hour {
  background-color: #000000a9;
  height: 15rem;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 24px;
  padding: 1rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-clock {
  width: 100%;
}
.cont-reloj {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  font-size: 7rem;
  font-family: "Abel", sans-serif;
}
.cont-fecha {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
.music-lofi {
  background-color: #000000a9;
  border-radius: 24px;
  height: 55%;
  padding: 1.5rem;
  color: #fff;
}
.title-youtube {
  font-size: 1rem;
}
.youtube-lofi {
  width: 100%;
  height: 90%;
  border-radius: 24px;
  margin-top: 0.5rem;
}
.play-music {
  background-color: #000000a9;
  width: 30%;
  /* height: 50vh; */
  border-radius: 24px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mensaje-contruccion {
  font-size: 1.5rem;
  color: #9b9b9b;
  text-align: center;
  width: 80%;
}

.content-mgg-contruction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.svg-ilustracion {
  width: 100%;
  height: 50%;
}

/* CLIMA SEMANAL Y NOTICIAS  */

.climaWeek-notice {
  width: 100%;
  height: 480px;
  display: flex;
  flex-direction: row;
  padding-top: 1.5rem;
  justify-content: space-between;
}

.cont-climeWeek {
  width: 30%;
  height: 100%;
  background-color: #000000a9;
  padding: 1rem;
  border-radius: 24px;
}

.cont-notice {
  background-color: #000000a9;
  width: 67%;
  height: 100%;
  border-radius: 24px;
  padding: 1rem;
}

/* NOTICIAS  */

.cont-title-options {
  display: flex;
  justify-content: space-between;
}
.title-section-noti {
  color: #fff;
  font-size: 1rem;
}
.select-country {
  font-size: 1rem;
  color: #fff;
  background-color: transparent;
  border: none;
}
.select-country:hover {
  cursor: pointer;
}
.select-country > option {
  background-color: #000000a9;
  color: #fff;
  cursor: pointer;
}
.noticias {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 93%;
  width: 100%;
  padding: 1rem;
  /* overflow: hidden; */
}
.content-info-noti {
  height: 100%;
  width: 30%;
  background-color: #f0f0f0;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.img-and-descri {
  display: flex;
  justify-content: space-between;
  height: 50%;
}
.cont-img {
  height: 100%;
  width: 100%;
}

.img-noticias {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
.title-noticias {
  font-size: 1.2rem;
  font-weight: 500;
  height: 5rem;
  padding: 1rem;
}
.button-ver-autor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.autor-noticia {
  font-size: 0.8rem;
  color: #9b9b9b;
  height: 50%;
}
.url-noti {
  text-decoration: none;
  background-color: #000000a9;
  color: #fff;
  border-radius: 24px;
  padding: 1rem;
}
.url-noti:hover {
  background-color: #000000;
  cursor: pointer;
}
.campo-vacio {
  height: 90%;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ilustracion-error {
  width: 60%;
  height: 70%;
}
.mensaje-de-error {
  color: #9b9b9b;
  font-size: 1.3rem;
  font-weight: 300;
}

/* FOOTER  */

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000000ef;
  color: #f0f0f0;
  height: 9rem;
}

.cont-dep-copy,
.redes-footer {
  width: 40%;
  text-align: center;
}
.copyright,
.title-redes {
  padding: 1rem;
}
.cont-redes-link {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.link-redes {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

/* RESPONSIVE  */

@media screen and (max-width: 1250px) {
  /* CARD DEL CLIMA ACTUAL  */
  .name-ubi {
    font-size: 1rem;
  }
  .temp {
    font-size: 5rem;
  }
  .date {
    font-size: 1.2rem;
  }
  .mini-detalles {
    font-size: 1rem;
  }

  /* CARD RELOJ  */
  .section-hour {
    justify-content: center;
    align-items: center;
  }
  .time {
    font-size: 6rem;
  }
  .fecha {
    font-size: 1.2rem;
  }

  @media (max-width: 980px) {
    .time {
      font-size: 5rem;
    }
    .climaWeek-notice {
      flex-direction: column;
      height: auto;
    }
    .cont-climeWeek {
      width: 100%;
      height: 400px;
    }
    .cont-notice {
      width: 100%;
      height: 25rem;
      margin-top: 1rem;
    }

    @media (max-width: 850px) {
      .clima-and-hour {
        flex-direction: column;
        align-items: center;
      }
      .section-clime {
        width: 100%;
        /* margin: auto; */
        margin-bottom: 1rem;
      }
      .form__group {
        width: 85%;
      }
      .name-ubi {
        font-size: 1.6rem;
      }
      .temp {
        font-size: 7rem;
      }
      .date {
        font-size: 1.6rem;
      }
      .mini-detalles {
        font-size: 1.3rem;
      }

      .hour-and-lofi {
        flex-direction: row;
        width: 100%;
        height: 15rem;
        margin: auto;
        margin-bottom: 1rem;
        justify-content: space-between;
      }
      .section-hour {
        width: 60%;
        height: 100%;
      }
      .music-lofi {
        width: 38%;
        height: 100%;
      }
      .play-music {
        width: 100%;
      }
      .footer {
        flex-direction: column;
        height: 19rem;
      }
      .cont-dep-copy,
      .redes-footer {
        width: 100%;
      }
      .cont-redes-link {
        flex-direction: column;
      }
      .link-redes {
        margin-bottom: 1rem;
      }

      @media (max-width: 570px) {
        .name-ubi,
        .mini-detalles {
          font-size: 1rem;
        }
        .hour-and-lofi {
          flex-direction: column;
          height: 30rem;
          justify-content: space-between;
        }
        .section-hour {
          width: 100%;
          margin-bottom: 1rem;
        }
        .time {
          font-size: 6rem;
        }
        .music-lofi {
          width: 100%;
        }
        .cont-notice {
          height: auto;
        }
        .noticias {
          flex-direction: column;
        }
        .content-info-noti {
          width: 100%;
          height: 20rem;
          margin-bottom: 1rem;
        }
        .mensaje-contruccion {
          font-size: 1rem;
          width: 100%;
        }

        @media (max-width: 420px) {
          .section-clime {
            height: 65vh;
          }
          .title-estado-clima,
          .date {
            font-size: 1.2rem;
          }
          .temp {
            font-size: 6rem;
          }
          .section-hour {
            height: 40vh;
          }
          .mini-detalles,
          .fecha {
            font-size: 0.8rem;
          }
          .time {
            font-size: 4rem;
          }
          .cont-title-options {
            flex-direction: column;
          }
          .title-section-noti {
            margin-bottom: 1rem;
          }
          .select-country {
            font-size: 0.8rem;
          }
          .noticias {
            padding: 1rem 0;
          }
          .title-noticias {
            font-size: 0.8rem;
            padding: 0.5rem;
          }
          .autor-noticia {
            text-align: left;
            font-size: 0.7rem;
            width: 100%;
            overflow: hidden;
          }
          .url-noti {
            margin-top: 0.5rem;
            font-size: 0.8rem;
            width: 100%;
            text-align: center;
          }
          .cont-title-noti {
            height: 65px;
          }
          .button-ver-autor {
            flex-direction: column;
          }
          .mensaje-de-error {
            font-size: 1rem;
            text-align: center;
          }
        }
        @media (max-width: 280px) {
          .buscar-ubi,
          .buscar-ubi:placeholder-shown ~ .form__label {
            font-size: 11px;
          }
          .name-ubi,
          .date {
            font-size: 0.8rem;
          }
          .temp {
            font-size: 4rem;
          }
          .time {
            font-size: 3.5rem;
          }
        }
      }
    }
  }
}
